In [122]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [168]:
df = pd.read_csv('Salary Data.csv')
df.dropna(inplace = True)

In [170]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size = 0.1, random_state = 42)

X_train = train_set.drop(['Salary'], axis = 1)
y_train = train_set['Salary']

In [198]:
X_train

,Age,Gender,Education Level,Job Title,Years of Experience
152,43.0,Female,PhD,Senior Product Designer,18.0
177,31.0,Male,Bachelor's,Junior Accountant,4.0
250,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0
299,37.0,Male,Bachelor's,Senior Marketing Analyst,9.0
30,50.0,Male,Bachelor's,CEO,25.0
...,...,...,...,...,...
71,39.0,Female,Bachelor's,Recruiter,11.0
106,30.0,Female,Bachelor's,Digital Content Producer,3.0
272,37.0,Male,Bachelor's,Senior Financial Analyst,8.0
350,44.0,Female,PhD,Senior Data Scientist,16.0
102,49.0,Female,Master's,Senior HR Manager,19.0

In [200]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
# Define the numeric and categorical columns
nums = list(X_train[['Years of Experience','Age']])
cat = ['Gender','Education Level']  

# Create the column transformer
preprocessor = ColumnTransformer([
    ('scaler', StandardScaler(), nums),
    ('encoder', OneHotEncoder(), cat)  # Wrap gender in a list
])

# Create the pipeline
pipeline = Pipeline([
    ('preprocessor', preprocessor)
])

# Fit and transform
X_train_transformed = pipeline.fit_transform(X_train)

In [201]:
from sklearn.linear_model import LinearRegression
L_model = LinearRegression()

L_model.fit(X_train_transformed, y_train)

LinearRegression()

In [205]:
X_train_transformed.shape

(335, 7)

In [206]:
y_predicted = L_model.predict(X_train_transformed)

In [212]:
y_predicted.shape

(335,)

In [208]:
X_test = test_set.drop(['Salary'], axis = 1)
y_test = test_set['Salary']

Y_test_transformed = L_model.predict(pipeline.fit_transform(X_test))

In [209]:
from sklearn.metrics import mean_squared_error
mrs = mean_squared_error(Y_test_transformed, y_test)

In [210]:
np.sqrt(mrs)

12537.190746890283

In [213]:
pd.DataFrame({'real':y_test,'predicted':Y_test_transformed}).head()

         real      predicted
329  180000.0  177711.481398
33    65000.0   92784.098797
15   125000.0  133203.583319
316   80000.0   85068.409680
57   140000.0  157238.739627

In [230]:
y_predicted.shape

(335,)